<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Shop" nzSubtitle="赛车周边购物商城">
  <nz-page-header-extra class="site-page-header-button">
    <button nz-button nzType="primary" (click)="gotoShoppingCart()">Shopping Cart</button>
  </nz-page-header-extra>
</nz-page-header>

<div class="wrap">
  <div style="background:rgb(248, 247, 247);padding:30px;">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th id="name">Name</th>
          <th id="team">Team</th>
          <th id="image">Image</th>
          <th id="price">Price</th>
          <th id="num">Number</th>
          <th id="confirm"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>
            <img src="https://productview1.fanobject.com/0027/6184/00276184_00.jpg?imwidth=250" alt="{{data.name}}"
              height="5%" width="5%">
          </td>
          <td>{{ data.team }}</td>
          <td>{{ data.price }}</td>
          <td>
            <nz-input-number [(ngModel)]="data.num" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1" [nzMin]="99"
              [nzStep]="1"></nz-input-number>
          </td>
          <td>
            <button nz-button (click)="addToShoppingCart(data.key,data.num)" nzType="default" [nzSize]="size"
              nzShape="round"><i nz-icon nzType="plus"></i>add to shopping cart</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>