<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Confirm" nzSubtitle="确认购物信息">
    <nz-page-header-extra class="site-page-header-button">
    </nz-page-header-extra>
</nz-page-header>
<div class="stepswrap">
    <nz-divider></nz-divider>
    <nz-steps nzLabelPlacement="vertical">
        <nz-step nzTitle="shopping cart" nzStatus="finish" nzIcon="shopping-cart"></nz-step>
        <nz-step nzTitle="confirm" nzStatus="process" nzIcon="loading"></nz-step>
        <nz-step nzTitle="success" nzStatus="wait" nzIcon="check-circle"></nz-step>
    </nz-steps>
</div>

<div class="addresswrap">
    <div nz-row [nzGutter]="6">
        <div nz-col [nzSpan]="24">
            <nz-card nzHoverable nzTitle="Please select your address">
                <nz-radio-group [(ngModel)]="radioValue">
                    <div class="addresslist" *ngFor="let address of addressList">
                        <label nz-radio [ngStyle]="style" nzValue={{address.addressid}}>
                            收货地址：{{address.addressinfo}}
                            <nz-divider nzType="vertical"></nz-divider>
                            收货人：{{address.addressname}}
                            <nz-divider nzType="vertical"></nz-divider>
                            联系人电话：{{address.tel}}
                            <nz-divider nzType="vertical"></nz-divider>
                            <button nz-button nzType="default" (click)="deleteAddress(address.addressid)">Delete</button>
                        </label>
                    </div>
                    <label nz-radio [ngStyle]="style" nzValue="add">
                        Add new address...
                        <button nz-button nzType="default" (click)="open()" *ngIf="radioValue === 'add'">Add</button>
                        <nz-drawer
                            [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
                            [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="visible" nzTitle="Add new address"
                            (nzOnClose)="close()">
                            <form nz-form (ngSubmit)="addAddress()">
                                <div nz-row nzGutter="8">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-label>Name</nz-form-label>
                                            <nz-form-control nzHasFeedBack nzErrorTip="请输入正确的收件人">
                                                <input nz-input name="name" [(ngModel)]=addressData.addressname required>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-label>Tel</nz-form-label>
                                            <nz-form-control nzHasFeedBack nzErrorTip="请输入11位的电话号码">
                                                <input nz-input name="tel" [(ngModel)]=addressData.tel required pattern="^\d{11}$">
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <div nz-row nzGutter="8">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-label>Address</nz-form-label>
                                            <nz-form-control nzHasFeedBack nzErrorTip="请输入正确的地址">
                                                <textarea nz-input placeholder="please enter address"
                                                    [nzAutosize]="{ minRows: 2, maxRows: 2 }" name="address"
                                                    [(ngModel)]=addressData.addressinfo required></textarea>
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </div>
                                <nz-divider></nz-divider>
                                <div nz-row nzGutter="8">
                                    <nz-form-item>
                                        <nz-form-control>
                                            <button nz-button nzType="primary" nzBlock [disabled]="!addressData.addressname || !addressData.tel || !addressData.addressinfo">Confrim</button>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </form>
                        </nz-drawer>
                    </label>
                </nz-radio-group>
            </nz-card>
        </div>
    </div>
</div>


<div class="wrap">
    <div style="background:rgb(248, 247, 247);padding:30px;">
        <nz-table #basicTable [nzData]="shoppingCartList">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="team">Team</th>
                    <th id="image">Image</th>
                    <th id="price">Price</th>
                    <th id="num">Number</th>
                    <th id="confirm"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.goodsname }}</td>
                    <td>
                        <img src="{{data.goodsimg}}" alt="{{data.name}}" height="5%" width="5%">
                    </td>
                    <td>{{ data.sponsor }}</td>
                    <td>{{ data.goodsprice }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.goodsnum" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1"
                            [nzMin]="99" [nzStep]="1"
                            (ngModelChange)="updateGoodsNum(data.shoppingcarid,data.goodsnum)"></nz-input-number>
                    </td>
                    <td>
                        <button nz-button (click)="deleteShoppingCart(data.shoppingcarid)" nzType="default"
                            nzShape="round"><i nz-icon nzType="minus" nzTheme="outline"></i>delete</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <h1>Total :{{sum}}</h1>
        <nz-divider></nz-divider>
        <div class="confirm" style="margin-left: 40%;width: 20%;">
            <button nz-button nzType="primary" (click)="gotoConfirm()" nzBlock nzShape="round">
                <i nz-icon nzType="shopping" nzTheme="outline"></i>Confirm</button>
        </div>
    </div>
</div>