<nz-page-header class="site-page-header" nzTitle="ShoppingCart" nzSubtitle="购物车">
  <nz-page-header-extra class="site-page-header-button">
    <a nz-dropdown [nzDropdownMenu]="menu" (click)="gotoshop()">
      <i nz-icon nzType="shop" nzTheme="outline"></i>Back to Shop
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item (click)="gotoOrder()"><i nz-icon nzType="file-search" nzTheme="outline"></i>Order</li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>

<div class="wrap">
  <div style="background:rgb(248, 247, 247);padding:30px;">
    <nz-table #basicTable [nzData]="shoppingCartList">
      <thead>
        <tr>
          <th id="name">Name</th>
          <th id="team">Team</th>
          <th id="image">Image</th>
          <th id="price">Price</th>
          <th id="num">Number</th>
          <th id="confirm"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.goodsname }}</td>
          <td>
            <img src="{{data.goodsimg}}" alt="{{data.name}}"
              height="5%" width="5%">
          </td>
          <td>{{ data.sponsor }}</td>
          <td>{{ data.goodsprice }}</td>
          <td>
            <nz-input-number [(ngModel)]="data.goodsnum" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1" [nzMin]="99"
              [nzStep]="1" (ngModelChange)="updateGoodsNum(data.shoppingcarid,data.goodsnum)"></nz-input-number>
          </td>
          <td>
            <button nz-button (click)="deleteShoppingCart(data.shoppingcarid)" nzType="default" nzShape="round"><i nz-icon
                nzType="minus" nzTheme="outline"></i>delete</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-divider></nz-divider>
    <div class="confirm" style="margin-left: 40%;width: 20%;">
      <button nz-button nzType="primary" (click)="gotoConfirm()" nzBlock nzShape="round">
        <i nz-icon nzType="shopping" nzTheme="outline"></i>Confirm</button>
    </div>
  </div>
</div>