<div class="driverinfo">
    <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Driver" nzSubtitle="查看车手简介"></nz-page-header>
    <div class="wrap">
        <div style="background: rgb(235, 235, 236);padding:30px;">
            <div nz-row [nzGutter]="6">
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Alexander ALBON">
                  <p>Card content</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Lewis HAMILTON">
                  <p>Card content</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Lando NORRIS">
                  <p>Card content</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="George RUSSEL">
                  <p>Card content</p>
                </nz-card>
              </div>
            </div>
            <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Valtteri BOTTAS">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Danill KVYAT">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Esteban OCON">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Carlos SAINZ">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Pierre Gasly">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Nicholas LATIFI">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Sergio PEREZ">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Lance STROLL">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Antonio GIOVINAZZI">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Chaerles LECLERC">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Kimi RAIKKIONEN">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Max VERSTAPPEN">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Romain GROSJEAN">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Kevin Magnussen">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Daniel RICCIARDO">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Sebastian VETTEL">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
            
            
        </div>
    </div>
  
</div>


