<div class="driverinfo">
    <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Driver" nzSubtitle="查看车手简介"></nz-page-header>
    <div class="wrap">
        <div style="background: rgb(235, 235, 236);padding:30px;">
            <div nz-row [nzGutter]="6">
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Alexander ALBON" (click)="showALBON()">
                    <img src="https://www.formula1.com/content/fom-website/en/drivers/alexander-albon/_jcr_content/image.img.1920.medium.jpg/1584013953467.jpg" alt="alexander-albon" height="10%" width="10%">
                    <p>Team:Red Bull Racing</p>
                    <p>Country:Thailand</p> 
                    <p>Date of birth:23/03/1996</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Lewis HAMILTON" (click)="showHAM()">
                    <img src="https://www.formula1.com/content/fom-website/en/drivers/lewis-hamilton/_jcr_content/image.img.1920.medium.jpg/1584013371803.jpg" alt="lewis-hamilton" height="10%" width="10%">
                    <p>Team:Mercedes</p>
                    <p>Country:United Kingdom</p> 
                    <p>Date of birth:07/01/1985</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="Lando NORRIS" (click)="showNORRIS()">
                    <p>Team:McLaren</p>
                    <p>Country:United Kingdom</p> 
                    <p>Date of birth:13/11/1999</p>
                </nz-card>
              </div>
              <div nz-col [nzSpan]="6">
                <nz-card nzHoverable nzTitle="George RUSSEL" (click)="showRUSSEL()">
                    <p>Team:Williams</p>
                    <p>Country:United Kingdom</p> 
                    <p>Date of birth:15/02/1998</p>
                </nz-card>
              </div>
            </div>
            <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Valtteri BOTTAS">
                    <p>Learning his craft on Finnish roads of ice and snow, he was born to be a Grand Prix racer.

                        Bottas explains that if you can drive on the frozen roads of his homeland then you can drive anywhere. Then there’s the Finnish mentality –reserved, diligent and calm the fast lane of F1 doesn’t faze him.</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Danill KVYAT">
                    <p>He’s the comeback kid with a capital K. 

                        Proving even ‘torpedoes’ can make U-turns, Daniil Kvyat made a surprise F1 return for a third spell with Toro Rosso in 2019. His intrinsic speed and ability to adapt to circuit conditions make him a valuable asset - and he’s a proven podium contender. </p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Esteban OCON">
                    <p>If there’s one word that dominates Esteban Ocon’s career, it’s ‘sacrifice’.

                        Back when he was just a promising karter, Ocon’s parents sold their house, put their jobs on hold, and began a life on the road, living in a caravan and travelling from circuit to circuit to support their son’s burgeoning career.</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Carlos SAINZ">
                    <p>Biography
                        He’s the matador from Madrid racing royalty. 
                        
                        Entering F1’s Bull Ring paired alongside Max Verstappen at Toro Rosso in 2015, Sainz quickly showed his fighting spirit. A tenacious racer, Sainz puts the car on the edge as he hustles his way through the pack. No wonder he’s earned the nickname Chilli.</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Pierre Gasly">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Nicholas LATIFI">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Sergio PEREZ">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Lance STROLL">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Antonio GIOVINAZZI">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Chaerles LECLERC">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Kimi RAIKKIONEN">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Max VERSTAPPEN">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
              <div nz-row [nzGutter]="6">
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Romain GROSJEAN">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Kevin Magnussen">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Daniel RICCIARDO">
                    <p>Card content</p>
                  </nz-card>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-card nzHoverable nzTitle="Sebastian VETTEL">
                    <p>Card content</p>
                  </nz-card>
                </div>
              </div>
            
            
        </div>
    </div>
  
</div>


