<div class="container">
    <div class="login-wrapper">
        <div class="header">Sign up</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" [(ngModel)]="signupForm.username" #username="ngModel">
            <input type="password" name="password" placeholder="password" class="input-item" [(ngModel)]="signupForm.password" #password="ngModel">
            <div class="btn" (click)="signup()">
                    <i nz-icon nzType="login" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign up &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="msg">
            Already have an account?<a href="/login">login</a>
        </div>
    </div>
</div>