<div class="container">
    <div class="login-wrapper">
        <div class="header">login</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item">
            <input type="password" name="password" placeholder="password" class="input-item">
            <div class="btn" (click)="login()">
                    <i nz-icon nzType="login" nzTheme="outline"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
        <div class="msg">
            Do not have an account?<a href="/signup">sign up</a>
        </div>
    </div>
</div>