<div class="home">
    <nz-divider></nz-divider>
    <div class="carouselwrap">
        <nz-carousel nzAutoPlay nzEffect="fade">
            <div class="carousel-item" nz-carousel-content *ngFor="let img of imgArr"> 
                <img [src]="img" >
            </div>
        </nz-carousel>
    </div>
    <nz-divider></nz-divider>
    <div class="notificationwrap">
        <nz-page-header class="site-page-header" nzTitle="新闻"></nz-page-header>
        <nz-collapse [nzBordered]="false" nzAccordion>
            <nz-collapse-panel *ngFor="let notification of notificationList" [nzHeader]="notification.notiname" [nzActive]="notification.active">
              <p>{{ notification.noticontent }}</p>
              <img class="img" src={{notification.notiimgurl}} alt={{notification.notiimgname}}>
            </nz-collapse-panel>
          </nz-collapse>
    </div>
</div>