<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Order Detail" nzSubtitle="购物订单详情">
</nz-page-header>

<div class="wrap">
    <div style="background:rgb(248, 247, 247);padding:30px;">
        <nz-descriptions nzTitle="Info" nzBordered [nzColumn]='2'>
            <nz-descriptions-item nzTitle="OrderNo">{{order.orderNo}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name">{{order.name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tel">{{order.tel}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Order Time">
              {{order.creatTime}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
              {{order.address}}
            </nz-descriptions-item>
          </nz-descriptions>
        <nz-divider></nz-divider>
        <nz-table #basicTable [nzData]="listOfData">
            <thead>
                <tr>
                    <th id="name">OrderNo.</th>
                    <th id="team">Image</th>
                    <th id="image">Team</th>
                    <th id="price">Price</th>
                    <th id="num">Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td>
                        <img src="https://productview1.fanobject.com/0027/6184/00276184_00.jpg?imwidth=250"
                            alt="{{data.name}}" height="5%" width="5%">
                    </td>
                    <td>{{ data.team }}</td>
                    <td>{{ data.price }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.num" [nzPrecision]="0" [nzDisabled]="true" nzPrecisionMode="cut" [nzMin]="1"
                            [nzMin]="99" [nzStep]="1"></nz-input-number>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>