<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Order Detail" nzSubtitle="购物订单详情">
</nz-page-header>

<div class="wrap">
    <div style="background:rgb(248, 247, 247);padding:30px;">
        <nz-descriptions nzTitle="Info" nzBordered [nzColumn]='2'>
            <nz-descriptions-item nzTitle="OrderNo">{{orderid}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name">{{ordername}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tel">{{ordertel}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Order Time">
                <nz-date-picker nzShowTime [(ngModel)]="orderTime" name="ordertime" nzDisabled></nz-date-picker>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
                {{orderAddress}}
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <nz-table #basicTable [nzData]="orderList">
            <thead>
                <tr>
                    <th id="name">GoodsName</th>
                    <th id="team">Image</th>
                    <th id="image">Team</th>
                    <th id="price">Price</th>
                    <th id="num">Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td><h1>{{data.goodsname}}</h1></td>
                    <td>
                        <img src="{{data.goodsimg}}" alt="{{data.goodsname}}" height="5%" width="5%">
                    </td>
                    <td>{{ data.sponsor }}</td>
                    <td>{{ data.goodsprice }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.goodsnum" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1"
                            [nzMin]="99" [nzStep]="1" [nzDisabled]="true"></nz-input-number>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <button nz-button nzType="primary" (click)="open()">Edit</button>
        <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
            [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="Edit" (nzOnClose)="close()">
            <form nz-form (ngSubmit)="editOrder()">
                <div nz-row nzGutter="8">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label>OrderNo</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="orderno" [(ngModel)]=orderid readonly="readonly">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label>Name</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="name" [(ngModel)]=ordername>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row nzGutter="8">
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label>Tel</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="tel" [(ngModel)]=ordertel>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label>Order Time</nz-form-label>
                            <nz-form-control>
                                <input nz-input name="ordertime" [(ngModel)]=orderTime readonly="readonly">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row nzGutter="8">
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-label>Address</nz-form-label>
                            <nz-form-control>
                                <textarea nz-input placeholder="please enter address"
                                    [nzAutosize]="{ minRows: 2, maxRows: 2 }" name="address"
                                    [(ngModel)]=orderAddress></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row nzGutter="8">
                    <div nz-col nzSpan="24">
                        <nz-form-control>
                            <button nz-button nzType="primary" nzBlock>Confrim</button>
                        </nz-form-control>
                    </div>
                </div>
            </form>
        </nz-drawer>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button (click)="deleteOrder()">
            Delete</button>
    </div>
</div>