<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Order Detail" nzSubtitle="购物订单详情">
</nz-page-header>

<div class="wrap">
    <div style="background:rgb(248, 247, 247);padding:30px;">
        <nz-descriptions nzTitle="Info" nzBordered [nzColumn]='2'>
            <nz-descriptions-item nzTitle="OrderNo">{{orderid}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Name">{{ordername}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tel">{{ordertel}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Order Time">
                <nz-date-picker nzShowTime [(ngModel)]="orderTime" name="ordertime" nzDisabled></nz-date-picker>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Address" [nzSpan]="2">
                {{orderAddress}}
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-divider></nz-divider>
        <nz-table #basicTable [nzData]="orderList">
            <thead>
                <tr>
                    <th id="name">GoodsName</th>
                    <th id="team">Image</th>
                    <th id="image">Team</th>
                    <th id="price">Price</th>
                    <th id="num">Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td><h1>{{data.goodsname}}</h1></td>
                    <td>
                        <img src="{{data.goodsimg}}" alt="{{data.goodsname}}" height="5%" width="5%">
                    </td>
                    <td>{{ data.sponsor }}</td>
                    <td>{{ data.goodsprice }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.goodsnum" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1"
                            [nzMin]="99" [nzStep]="1" [nzDisabled]="true"></nz-input-number>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <h1>Total :{{sum}}</h1>
        <nz-divider></nz-divider>
        <button nz-button (click)="deleteOrder()">
            Delete</button>
    </div>
</div>