<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Order" nzSubtitle="购物订单">
</nz-page-header>

<div class="wrap">
    <div style="background:rgb(248, 247, 247);padding:30px;">
        <nz-table #basicTable [nzData]="orderList">
            <thead>
                <tr>
                    <th id="name">OrderNo.</th>
                    <th id="team">Image</th>
                    <th id="image">Team</th>
                    <th id="price">Price</th>
                    <th id="num">Number</th>
                    <th id="confirm"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td *ngIf="0 != data.orderid"><h1>{{data.orderid}}</h1></td>
                    <td *ngIf="0==data.orderid"></td>
                    <td>
                        <img src="{{data.goodsimg}}"
                            alt="{{data.goodsname}}" height="5%" width="5%">
                    </td>
                    <td>{{ data.sponsor }}</td>
                    <td>{{ data.goodsprice }}</td>
                    <td>
                        <nz-input-number [(ngModel)]="data.goodsnum" [nzPrecision]="0" nzPrecisionMode="cut" [nzMin]="1"
                            [nzMin]="99" [nzStep]="1" [nzDisabled]="true"></nz-input-number>
                    </td>
                    <td *ngIf="0!=data.orderid">
                        <button nz-button [routerLink]="['/home/orderdetail',data.orderid]"
                            routerLinkActive="router-link-active" nzType="default" [nzSize]="size" nzShape="round">Check
                            Detail <i nz-icon nzType="right" nzTheme="outline"></i></button>
                    </td>
                    <td *ngIf="0 == data.orderid"></td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>